SIMPLES_DENTAL_URL=https://app.simplesdental.com/simples/login
SIMPLES_DENTAL_USER=seu_usuario_aqui
SIMPLES_DENTAL_PASS=sua_senha_aqui
SIMPLES_DENTAL_CLINICA=ALINE BENTIVEGNA
HORA_INICIO_ATENDIMENTO=08:00
HORA_FIM_ATENDIMENTO=19:00
PORT=3000
