SIMPLES_DENTAL_URL=https://app.simplesdental.com/simples/login
SIMPLES_DENTAL_USER=seu_usuario_aqui
SIMPLES_DENTAL_PASS=sua_senha_aqui
SIMPLES_DENTAL_CLINICA=ALINE BENTIVEGNA
DURACAO_CONSULTA_MINUTOS=90
SABADO_DATA_REFERENCIA=2026-08-01
PORT=3000
